<h1> Yougee produce posted</h1>

<ul>
    <% @produceavailables.each do |produceavailable| %>
        <li>
            <strong> <%= produceavailable.produce.name %> </strong> - <%= produceavailable.gardener.name %> - <%= produceavailable.quantitystarted %> - <%= produceavailable.quanititytaken %> - <%= produceavailable.location %>
            <!-- <%= link_to "More info", produceavailable_path(produceavailable) %> -->

        </li>
    <% end %>
</ul>

<%= link_to "Home!", gardener_path(current_user.profile) %>
