<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<div class="text-center">
  <div class="panel panel-default">
    <div class="panel-body">
<h1> All Produce Posted on Yougee </h1>
</div>
</div>

<button class="btn btn-default" type="submit"><%= link_to "Home!", gardener_path(current_user.profile) %></button>
<br>
<br>
<div>
    <% @produceavailables.each do |produceavailable| %>
    <% if produceavailable.quantitystarted > produceavailable.quanititytaken %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
            <strong> <h1>Produce: </h1> <h3><%= produceavailable.produce.name %></h3> </strong> Gardener: <%= produceavailable.gardener.name %> - Starting Amount: <%= produceavailable.quantitystarted %> - Amount taken: <%= produceavailable.quanititytaken %> - Location: <%= produceavailable.location %>

        </div>
      </div>
    </div>
    <% end %>
    <% end %>
</div>

<button class="btn btn-default" type="submit"><%= link_to "Home!", gardener_path(current_user.profile) %></button>

</div>
