<h1>Add New Produce</h1>

<%= form_for @produceavailable do |f| %>

<div>
    <%= f.label :produce %>
    <%= f.collection_select :produce_id, Produce.all, :id, :name %>
</div>

<div>
    <%= f.label :quantitystarted %>
    <%= f.text_field :quantitystarted %>
</div>

<div>
    <%= f.label :location %>
    <%= f.text_field :location %>
</div>

    <%= f.hidden_field :quanititytaken, :value => 0 %>
    <%= f.submit "Add new produce available!" %>

<% end %>

<%= link_to "Back to your profile!", gardener_path(current_user)%>
