<h1>Add a new cook!</h1>

<%= form_for @cook do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>

    <%= f.submit "Add new cook!" %>

<% end %>

<%= link_to "I want to be a produce provider", new_gardener_path %>
