<h1> <%= @cook.name %> </h1>

<p>This is  <%= @cook.name %> from <%= @cook.location %></p>

<% @cook.produceselecteds.each do |ps| %>
  <%= ps.produceavailable.produce.name %><br>
  Taken: <%= ps.quantity %> <br>
  From: <%= ps.produceavailable.gardener.name %> <br>

<% end %>



<%= link_to "See produce", produces_path %>
