<h1> <%= @produce.name %> </h1>

<p>This is  <%= @produce.name %> </p>


<% @produce.produceavailables.each do |pa| %>
  <% if pa.quantitystarted > pa.quanititytaken %>
    Gardener: <%= pa.gardener.name%> <br>
    Location: <%= pa.location%> <br>
    Started with: <%= pa.quantitystarted %> <br>
    Taken: <%= pa.quanititytaken || 0 || nil %> <br>
    --------------<br>
    <%= form_for [pa, @produceselected]  do |f|  %>
    <p>Select from this gardener</p>
    <div>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
    </div>

    <div>
        <%= f.hidden_field :produceavailable_id, :value => pa.id %>
    </div>

    <%= f.submit "Add new selection" %>
    <% end %>
    ------------------<br>
  <% end %>
<% end %>


<%= link_to "Back to the list!", produces_path %>
