<h1> <%= @gardener.name %> </h1>

<p>This is  <%= @gardener.name %> from <%= @gardener.location %></p>


<%= link_to "Make produce available", new_produceavailable_path %>

<%= link_to "All Produce", produceavailables_path %>
