<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<h1 class='text-center'> Welcome <%= @gardener.name %> to Yougee, keep growing!</h1>

<p class='text-center'>You can post produce you have grown and see all the produce posted by other gardeners as well</p>

<br>
<div class="text-center">
<button class="btn btn-default" type="submit"><%= link_to "Make produce available", new_produceavailable_path %></button>

<button class="btn btn-default" type="submit"><%= link_to "All Produce", produceavailables_path %></button>
</div>
<br>

<h2 class='text-center'> Your Posts </h2>
<hr>

<div class='text-center'><h1><% @gardener.produceavailables.each do |pa| %></h1>
<% if pa.quantitystarted > pa.quanititytaken %>
  <h3><%= pa.produce.name %><br><h3>
  Started with: <%= pa.quantitystarted %> <br>
  Taken: <%= pa.quanititytaken %> <br>
  <hr>
<% end %>
<% end %>
</div>

<div class="text-center">
<button class="btn btn-default" type="submit"><%= link_to "Make produce available", new_produceavailable_path %></button>

<button class="btn btn-default" type="submit"><%= link_to "All Produce", produceavailables_path %></button>
</div>
